/* ===============INPUT STYLES==================== */

.form-btn {
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: #4E75FF;
    color: #ffffff;
    ;
}

.form-btn:hover {
    background-color: #6C8CFF;
}

.gallery-search {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    max-height: 40px;
    padding-left: 16px;
}

.gallery-form {
    display: flex;
    justify-content: center;
    gap: 8px;
}

/* ============================================ */

/* ===============IMAGES STYLES==================== */

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin-top: 32px;
}

.gallery-img {
    display: block;
    width: 360px;
    height: 200px;
}

.gallery-item {
    display: block;
    width: 360px;
}

.list-item {
    border: 1px solid #808080;
    border-radius: 4px;
    max-width: 360px;
}

.info {
    display: flex;
}

p {
    text-align: center;
}

/* ============================================ */

/* ===============LOADER STYLES==================== */


.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
    left: 50%;
    margin-top: 20px;

}

.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: #FF3D00;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    75%,
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
}

.hidden {
    display: none;
}

/* ============================================ */